body {
    display: flex;
    min-height: 50vh;
    flex-direction: column;
}

main {
    flex 1 0 auto;
}

.page-footer {
    padding: 0;
}
.footer-content {
    margin-bottom: 0;
}

.footer-content .footer-icon {
    padding: 0;
}

.flashes h4 {
    line-height: 2;
}

.card .card-action div {
    padding: 0;
    line-height: 50px;
}